### None value

In [3]:
zzz=None
zzz  # no output as zzz is not associated with any value

In [4]:
 None==0 , None==False , None==zzz

(False, False, True)

### Conditional Execution :

In [5]:
x=0
if x>=0:
    result='positive'
elif x<0:
    result='less than zero'
else:
    result='zero'

result

'positive'

#### Trial Based Execution (try-except) :
1. Syntax Errors
2. Runtime Erros

In [6]:
x='hello'
try:
    if x%1==0:
        result='integer'
    else:
        result='float'
except:
    result='wrong_data'

result

'wrong_data'

# Containers :

## 1.List :
1. Lists are hetergeneouts : diff. object of diff. types can be contaied within a single list.
2. a list is mutable because its elements can be changed after the list is created. Mutability allows for in-place modification of the list without creating a new object.

In [7]:
l=[111, 'hello' , -3, 76, [56,75]]
l

[111, 'hello', -3, 76, [56, 75]]

##### Operations :

* <b>Indexing & Slicing </b>: Everyobject wihtin a list is indexed with respect to its position and can accessed individually or in slices.

In [8]:
l[0],l[1],l[1:4]

(111, 'hello', ['hello', -3, 76])

In [9]:
l[:3], # upto given index 
l[3:], # from given index
l[-1] # from last

[56, 75]

In [10]:
l=[11,12,14,15,16,17,18]
print(l[0:6:2])
print(l[0::1])
print(l[-1::-1])

[11, 14, 16]
[11, 12, 14, 15, 16, 17, 18]
[18, 17, 16, 15, 14, 12, 11]

* Operators :
1. Logical : and ,or , not
2. Membership Operator : in ( check if some object is contained within a container or not).
3. Identity Operator : is (compare obj and check if they are same or not )

In [11]:
## Membership Operator : (IN)
l1=[11,22,99]
l2=[22,44,66]
x=22

if x in l1:
    result='x in l1'
if x in l2:
    result='x in l2'
if x in l1 and x in l2:
    result='x in l1 and l2'
if not x in l1 and not x in l2:
    result='x not in l1 or l2'
result

'x in l1 and l2'

In [12]:
## Identity Operator : (Is)
l1=[11,22,99]
l2=[22,44,66]
l1 is l2

False

In [13]:
l1=[]
l2=[]
l1 is l2

False

* Mutability :
 List are mutable in the sense that values with the list can be modified/changed .

In [14]:
l1=[11,33,5]
print(l1)

[11, 33, 5]

In [15]:
l1[-1]=l1[0]*2
l1

[11, 33, 22]

* Iteration :

In [16]:
l=[86,31,92,21]
list_even=[]
list_odd=[]

for i in l:
    if i%2==0:
        list_even+=[i] # it will store value ,
        #list_even+=i    it will store sum 
    else:
        list_odd+=[i]

list_even , list_odd

([86, 92], [31, 21])

In [17]:
l=[1,'47',222.2,'5.5',66]
l_int=[]
l_float=[]
l_wrong_data=[]

for i in l:
    try:
        if i%1==0:
            l_int+=[i]
        else:
            l_float+=[i]
    except:
        l_wrong_data+=[i]

l_int,l_float,l_wrong_data

([1, 66], [222.2], ['47', '5.5'])

## 2. Tuples : ()
1. Immutable : Sequence of object within tuple cannot be changed in any circumstance

In [18]:
t=(66,55,[1,2])
t

(66, 55, [1, 2])

In [19]:
t[0], t[-1], t[:-1]

(66, [1, 2], (66, 55))

In [20]:
# t[-1]=98  it will show error

In [21]:
values=12,13,14
values

(12, 13, 14)

In [22]:
## Unpacking :
a,b,c=values

a,b,c

(12, 13, 14)

## 3.Dictionaries : {}
1. Ordered set of key-value pairs.
2. Mutable : new key-value pairs can be added to it or existing ones remove,and can be modified.

In [23]:
d={'India':'Delhi','UK':'London','USA':'Washington'}
d

{'India': 'Delhi', 'UK': 'London', 'USA': 'Washington'}

In [24]:
## Acessing the dictionary values :
d['India'],d['USA']

('Delhi', 'Washington')

In [25]:
## Add value to dictionary
d['China']='Beijing'
d

{'India': 'Delhi', 'UK': 'London', 'USA': 'Washington', 'China': 'Beijing'}

In [26]:
# Dict to list
l_capitals=[]
for key in d:
    l_capitals+=[d[key]]

l_capitals

['Delhi', 'London', 'Washington', 'Beijing']

In [27]:
l=[86,31,92,21]

d={}
d['even_sum']=0
d['odd_sum']=0

for i in l:
    if i%2==0:
        d['even_sum']+=i
    else:
        d['odd_sum']+=i

d

{'even_sum': 178, 'odd_sum': 52}

In [28]:
d={}
d['even']=[]
d['odd']=[]

for i in l:
    if i%2==0:
        d['even']+=[i]
    else:
        d['odd']+=[i]

d

{'even': [86, 92], 'odd': [31, 21]}

In [29]:
d={1:'hello', 2:1000, 3:{'a':10, 'b':20}}
d

{1: 'hello', 2: 1000, 3: {'a': 10, 'b': 20}}

## 4. Sets : {}
1. Unordered Collection of unique objects.
2. Mutable and heterogeneous.
3. Cannot accessed through indexing and sets are not iterable.

In [30]:
s={22,'hello',22,7,'hello',39}
s

{22, 39, 7, 'hello'}

In [31]:
s1={1,2,3,4,5,6}
s2={6,7,8,9,10,'hello'}

s1|s2 # union

{1, 10, 2, 3, 4, 5, 6, 7, 8, 9, 'hello'}

In [32]:
s1 & s2 # Intersection

{6}

In [33]:
s1-s2 # Difference (item is s1 but not is s2)

{1, 2, 3, 4, 5}

In [34]:
s1^ s2 # Symmetric difference (item in s1 or s2 but not in both)

{1, 10, 2, 3, 4, 5, 7, 8, 9, 'hello'}

## Functions :

In [35]:
def some_fn_1(x):
    return x

In [36]:
def some_fn_2(x):
    return "hello",x+2

In [37]:
def some_fn_3(x):
    y=x**2
    return y

In [38]:
x=3
some_fn_1(x),some_fn_2(x),some_fn_3(x)

(3, ('hello', 5), 9)

In [39]:
def fn_hello():
    output="Welcome to python"
    return output

In [40]:
fn_hello()

'Welcome to python'

NOTE : Once a fn is defined , the fn name represent a "function object". A function object is an object that can be "executed" using curved brackets.

In [41]:
x=fn_hello
x

 fn_hello represents a python object.<br>
The function obj will only be called if the curved brackets are typed after if and the code cell run.

In [42]:
x()

'Welcome to python'

In [45]:
abs(-1),abs(10-10.2) # return absolute value

(1, 0.1999999999999993)

In [46]:
round(2.348), round(2.348 , ndigits=2)

(2, 2.35)

In [48]:
l=[4,2.2,7,21.87]
len(l),min(l),max(l),sum(l)

(4, 2.2, 21.87, 35.07)

In [49]:
sorted(l) , sorted(l,reverse=True)

([2.2, 4, 7, 21.87], [21.87, 7, 4, 2.2])

In [50]:
# all : return true if all values in list/tuple are non-zeros
l1=[3,2.2,7,21.87]
l2=[3,2.2,0]
all(l1),all(l2)

(True, False)

In [52]:
# any : return true if any value in list/tuple are non-zero
l3=[0]
any(l1),any(l2),any(l3)

(True, True, False)

#### Unpacking containers using Star and Double Star Operators :

In [53]:
list_1,tup_1=[1,2,3],(11,22,33)
l=[*list_1,*tup_1]
l

[1, 2, 3, 11, 22, 33]

## Double star operator  used to unpack Dictonaries.

In [54]:
dict_1=dict(a=1,b=2)
dict_2=dict(c=11,d=22)

d={**dict_1,**dict_2}
d

{'a': 1, 'b': 2, 'c': 11, 'd': 22}

### Enumerate :
The enumerate iterator fn takes in an iterable obj (list/tuple/dict) and return tuples containing the value being currently yielded and its count or index value.

In [55]:
l=[11,22,33]
for idx,i in enumerate(l):
    print(idx,i)

0 11
1 22
2 33

### Zip : 
Zip iterator allows us to iterate through multiple equi-sized containers simultaneously.

In [56]:
l1,l2,l3=[1,2,3],[11,22,33],['a','b','c']

for i,j,k in zip(l1,l2,l3):
    print(i,j,k)

1 11 a
2 22 b
3 33 c

### Range 
(start,stop,step)

In [57]:
for i in range(0,12,2):
    print(i)

0
2
4
6
8
10

### Comprehensions : 
A high level decalrative way of creating sequence . It enables one to perform an iteration and collect the required value from the iteration in a single step.

In [59]:
l=[]
for i in range(5):
    l.append(i)
l

[0, 1, 2, 3, 4]

In [60]:
l=[i for i in range(5)]
l

[0, 1, 2, 3, 4]

In [61]:
l=[i for i in range(10) if i%2==0]
l

[0, 2, 4, 6, 8]

In [62]:
l=[i if i%2==0 else 'odd' for i in range(10)]
l

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd']

#### Dict comprehensions :

In [63]:
var=['x','y','z']
x=[1,2,4]
y=[11.1,2.2,3.3]
z=[11,22,33]

d={k:v for k, v in zip(var,[x,y,z])}
d

{'x': [1, 2, 4], 'y': [11.1, 2.2, 3.3], 'z': [11, 22, 33]}